In [139]:
import pandas as pd
import os

In [3]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine(f'mysql+mysqlconnector://api_read:citrons7*stupefaction@read-mysql-production.giphy.tech:3306/giphy')

In [63]:
mapping = pd.read_sql("""
    select g.id as gif_id, c.slug as name from channel_gif_optimized as cg
    join channel as c on c.id = cg.channel_id
    left join gif as g on cg.gif_id = g.index_id
    where c.parent_id = 1106
""", engine)

In [116]:
len(mapping)

4687

In [66]:
mapping.head()

          gif_id   name
0  Rhkq4ehWqVX56  angry
1  tP2fZCu4K9Yac  angry
2  TseBjMu53JgWc  angry
3  vix9j7k0f9jPO  angry
4  W5PqJC6r5TwfC  angry

In [128]:
mapping[mapping.gif_id == '12P29BwtrvsbbW']

             gif_id      name
17   12P29BwtrvsbbW   animals
203  12P29BwtrvsbbW  applause

In [31]:
from glob import glob

In [ ]:
c = 0
for i, x in enumerate(mapping.gif_id):
    print(i)
    if os.path.isdir(f'/home/ec2-user/mnt/giphy_dataset/{x}'):
        c += 1

In [73]:
c

4687

In [38]:
gif_ids = [x.split('/')[-2] for x in gifs]

In [67]:
len(mapping[mapping.gif_id.isin(gif_ids)])

966

In [69]:
mapping.to_csv('/home/ec2-user/reactions.csv', index=False)

In [142]:
import numpy as np
categories = set(mapping.name)
categories = np.array(list(categories))

In [141]:
categories

array(['smh', 'love', 'thumbs-up', 'ok', 'good-luck', 'disappointed',
       'sorry', 'hi', 'animals', 'hello', 'angry', 'shocked', 'shrug',
       'yay', 'popcorn', 'mind-blown', 'happy', 'thank-you', 'smile',
       'dislike', 'k', 'shake-head', 'facepalm', 'shame', 'bored',
       'eye-roll', 'party', 'yes', 'hot', 'sad', 'confused', 'lol',
       'dancing', 'congratulations', 'nope', 'what', 'waiting', 'hug',
       'laughing', 'classics', 'mad', 'whatever', 'omg', 'why', 'wow',
       'do-want', 'like', 'bye', 'celebration', 'thanks', 'excited',
       'scared', 'tired', 'applause', 'flirting', 'wtf', 'youre-welcome',
       'dance', 'good-job', 'high-five', 'no', 'crying'], dtype='<U15')

In [143]:
pd.DataFrame({'a': categories}).to_csv('/home/ec2-user/mnt/giphy_dataset/category.txt', header=False, index=False)

In [117]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(mapping, list(range(len(mapping))), test_size=0.1)

In [129]:
len(X_train)

4218

In [130]:
train_results = []
for x in X_train.itertuples():
    train_results.append((x.gif_id, len(os.listdir(f'/home/ec2-user/mnt/giphy_dataset/{x.gif_id}/')), np.where(categories == x.name)[0][0]))

In [131]:
val_results = []
for x in X_test.itertuples():
    val_results.append((x.gif_id, len(os.listdir(f'/home/ec2-user/mnt/giphy_dataset/{x.gif_id}/')), np.where(categories == x.name)[0][0]))

In [137]:
len(val_results)

469

In [133]:
pd.DataFrame({'a': [v[0] for v in train_results],
              'b': [v[1] for v in train_results],
              'c': [v[2] for v in train_results]
             }).to_csv('/home/ec2-user/mnt/giphy_dataset/train_videofolder.txt', header=False, index=False)

In [138]:
pd.DataFrame({'a': [v[0] for v in val_results],
              'b': [v[1] for v in val_results],
              'c': [v[2] for v in val_results]
             }).to_csv('/home/ec2-user/mnt/giphy_dataset/val_videofolder.txt', header=False, index=False)

In [135]:
train = pd.read_csv('/home/ec2-user/mnt/giphy_dataset/train_videofolder.txt', header=None)
val = pd.read_csv('/home/ec2-user/mnt/giphy_dataset/val_videofolder.txt', header=None)

In [136]:
train.head()

                    0    1   2
0   26BRHUvL42icTV9Oo   26  41
1  xT0xeleFTGAjTfBwk0  106  42
2  3osxYvRjG7SLCAdILm   26  13
3   l2R0cE5EqO3QHiCoU   20  54
4       vKmHoLAQSKKhW   58  39

In [113]:
categories[54]

'flirting'